:root {
  --main-blue: #407ff0;
  --secondary-blue: #6699f4;
  --yellow: #fec337;
  --main-pink: #f46caf;
  --secondary-pink: #f685bd;
}

.About {
  margin: 5em auto;
  color: white;
  max-width: 1300px;
  width: 85%;
  display: block;
}

.About article {
  margin: 3em 0em;
  padding: 2em;
}

.About img {
  padding: 2em 0em;
}

.About h2 {
  color: black;
  font-family: "Rubik", sans-serif;
}

.About h3 {
  padding: 0.5em 0em;
  font-family: "Rubik", sans-serif;
}

.About p {
  text-align: justify;
}

.blue {
  background-color: var(--main-blue);
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 5px 0px 0px 5px;
}

.yellow {
  background-color: var(--yellow);
}

.pink {
  background-color: var(--main-pink);
  border-radius: 0px 5px 5px 0px;
}

@media all and (max-width: 575px) {
  .blue,
  .yellow,
  .pink {
    border-radius: 5px;
  }

  .About article {
    margin: 1em 0em;
    padding: 1.4em;
  }
}
