:root {
  --main-blue: #407ff0;
  --secondary-blue: #6699f4;
  --yellow: #fec337;
  --main-pink: #f46caf;
  --secondary-pink: #f685bd;
}

.Footer {
  padding-top: 1.2em;
}

.Footer footer {
  background-color: var(--main-blue);
  padding: 0.8em;
  color: white;
}

.Footer a {
  color: var(--yellow);
  transition: all 200ms ease-in-out;
  text-decoration: none;
  padding: 0.5em 0.15em;
  border-radius: 3px;
}

.Footer a:hover {
  cursor: pointer;
  background-color: var(--yellow);
  color: rgb(255, 255, 222);
}

.Footer p {
  margin: 1em 0em;
}
