:root {
  --main-blue: #407ff0;
  --secondary-blue: #6699f4;
  --yellow: #fec337;
  --main-pink: #f46caf;
  --secondary-pink: #f685bd;
}

.Header {
  background-color: var(--main-blue);
  font-family: 'Quicksand', sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0em;
}

img {
  width: 10%;
}

nav a {
  padding: 0em 1em;
  color: white;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  font-size: 1.1em;
}

nav a:hover {
  cursor: pointer;
  color: var(--yellow);
}
