.Result {
  background-color: white;
  display: block;
  margin: 0 auto;
  padding: 5em 0em;
  max-width: 1200px;
  width: 90%;
  border-radius: 8px;
}

.Result div {
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  box-shadow: none;
  padding: 0;
  max-width: 1200px;
  width: 100%;
  border-radius: 8px;
}

.Result .container .fila {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Result img {
  width: 10%;
}