.Result {
  background-color: white;
  display: block;
  margin: 0 auto;
  padding: 5em 0em;
  max-width: 1200px;
  width: 90%;
  border-radius: 8px;
}

.Result h2 {
  margin-bottom: 39px;
}

.Result div {
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  box-shadow: none;
  padding: 0;
  max-width: 1200px;
  width: 100%;
  border-radius: 8px;
}

.Result .container {
  display: block;
  margin: 15px auto;
  width: 80%;
}

.Result .container .fila {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.Result img {
  width: 6%;
  display: block;
  margin: 0 auto;
}

.Result p {
  margin-bottom: 0;
  font-size: 23px;
}

.Result .alert {
  background-color: #243b617a;
  margin: 2em 0.3em;
  padding: 2.5em 0.8em;
}

@media all and (max-width: 1100px) {
  .Result .container {
    display: block;
    margin: 25px auto;
    width: 95%;
  }
  .Result .container .fila {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
  }
  .Result .alert {
    background-color: #243b617a;
    margin: 2em 0em;
    padding: 2.5em 0.2em;
  }
}

@media all and (max-width: 550px) {
  .Result p {
    margin-bottom: 0;
    font-size: 19px;
  }
}
