.Try h2 {
  color: black;
  font-family: "Rubik", sans-serif;
}

.Try section {
  background: repeating-linear-gradient(
    45deg,
    #fec337,
    #fec337 20px,
    white 20px,
    white 40px
  );
}
